<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletslearing14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpireSession</display-name>
    <servlet-name>ExpireSession</servlet-name>
    <servlet-class>ExpireSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpireSession</servlet-name>
    <url-pattern>/ExpireSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieDetails</display-name>
    <servlet-name>SetCookieDetails</servlet-name>
    <servlet-class>SetCookieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieDetails</servlet-name>
    <url-pattern>/SetCookieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieDetails</display-name>
    <servlet-name>GetCookieDetails</servlet-name>
    <servlet-class>GetCookieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieDetails</servlet-name>
    <url-pattern>/GetCookieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo1</display-name>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>mvcdemo.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>key2</display-name>
    <servlet-name>key2</servlet-name>
    <servlet-class>key2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>key2</servlet-name>
    <url-pattern>/key2</url-pattern>
  </servlet-mapping>
</web-app>